<%= content_for(:head) do %>
  <script type="text/javascript">
    window.locations = [
      <% Declaration.all.each do |declaration| %>
        [<%= declaration.latitude %>, <%= declaration.longitude %>],
      <% end %>
    ]
  </script>
<% end %>

<div class="list-countries">
  <h1>List of countries</h1>
  <div>
    <ul>
      <% @countries.each do |country| %>
          <li><%= country %></li>
      <% end %>

      <%#=
    Declaration.all.as_json
      %>
    </ul>
  </div>
</div>

<div id="earth_div"></div>

<div class="camera">
  <video id="video">Video stream not available.</video>
  <button id="startbutton">I <%= link_to "I AM HAPPY (#{Declaration.count})", '#', id: 'create_declaration' %></button>
</div>